<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui@2.15.8/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.8/lib/theme-chalk/index.css"></link>
</head>
<body>
<div id="app">
    <div class="demo-input-size">
        <el-input
                placeholder="请输入内容"
                suffix-icon="el-icon-date"
                v-model="input1">
        </el-input>
        <el-input
                size="medium"
                placeholder="请输入内容"
                suffix-icon="el-icon-date"
                v-model="input2">
        </el-input>
        <el-input
                size="small"
                placeholder="请输入内容"
                suffix-icon="el-icon-date"
                v-model="input3">
        </el-input>
        <el-input
                size="mini"
                placeholder="请输入内容"
                suffix-icon="el-icon-date"
                v-model="input4">
        </el-input>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                input1: '',
                input2: '',
                input3: '',
                input4: ''
            }
        }
    })
</script>
</body>
</html>