<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui@2.15.8/lib/index.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.8/lib/theme-chalk/index.css"></link>
</head>
<body>
<div id="app">
    <el-form :model="accountForm" status-icon :rules="rules" ref="accountForm" label-width="100px"
             class="demo-ruleForm" @submit.native.prevent>
        <el-form-item
                prop="email"
                label="邮箱"
                :rules="[
                                { required: true, message: '请输入邮箱地址', trigger: 'blur' },
                                { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
                            ]"
        >
            <el-input v-model="accountForm.email"></el-input>
        </el-form-item>
        <el-form-item label="新密码" prop="passwd">
            <el-input type="password" v-model="accountForm.passwd" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="check_passwd">
            <el-input type="password" v-model="accountForm.check_passwd" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="验证码" prop="verify_code">
            <el-input type="text" v-model="accountForm.verify_code"></el-input>
            <el-button type="text" @click="getCode(accountForm.email)">发送验证码到邮箱</el-button>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitForm('accountForm')">确 认</el-button>
            <el-button @click="resetForm('accountForm')">重 置</el-button>
        </el-form-item>
    </el-form>
</div>

<script>
    new Vue({
        el: '#app',
        data() {
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                }
                callback();
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.accountForm.passwd) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            var checkCode = (rule, value, callback) => {
                const _this = this;
                if (value === '') {
                    callback(new Error('请输入验证码'));
                } else {
                    axios.get(
                        '/StudentInformationManagementSystem_war/account/code/verify_code?verify_code=' + value
                    ).then(function (resp) {
                        if (!resp.data.flag) {
                            callback(new Error("验证码错误"))
                        } else {
                            callback();
                        }
                    });
                }
            };
            return {
                drawer: false,
                accountForm: {
                    email: '',
                    passwd: '',
                    check_passwd: '',
                    verify_code: ''
                },
                rules: {
                    passwd: [
                        {required: true, message: '请输入密码', trigger: 'blur'},
                        {min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur'},
                        {validator: validatePass, trigger: 'blur'}
                    ],
                    check_passwd: [
                        {required: true, message: '请确认密码', trigger: 'blur'},
                        {min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur'},
                        {validator: validatePass2, trigger: 'blur'}
                    ],
                    verify_code: [
                        {required: true, message: '请输入验证码', trigger: 'blur'},
                        {validator: checkCode, trigger: 'blur'}
                    ]
                }
            }
        },
        methods: {
            getCode(email) {
                const _this = this;
                axios.get(
                    '/StudentInformationManagementSystem_war/account/code/send_auth_mail?email=' + email
                ).then(function (resp) {
                    _this.$alert(resp.data.info)
                })
            },
            submitForm(formName) {
                console.log(this.accountForm)
                const _this = this
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post(
                            '/StudentInformationManagementSystem_war/account/reset-passwd', {
                                email: _this.accountForm.email,
                                passwd: _this.accountForm.passwd
                            }
                        ).then(function (resp) {
                            if (resp.data.flag) {
                                location.href = '/StudentInformationManagementSystem_war/'
                            }
                            _this.$alert(resp.data.info)
                        })
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
        }
    })
</script>
</body>
</html>